.navLink {
  padding: 0.8em 1.6em;
  display: inline-block;
  text-transform: uppercase;
}
.navLink:hover {
  background-color: #fff;
  color: #333;
}
.navLink.current {
  border-bottom: 10px solid #fff;
}
